.fade
    &.ng-animate
        transition: opacity .5s ease-in-out

    /* The Starting CSS styles for the enter animation */
    &.ng-enter
        opacity: 0
        transition-delay: .5s

    /* The finishing CSS styles for the enter animation */
    &.ng-enter.ng-enter-active
        opacity: 1

    /* The Starting CSS styles for the leave animation */
    &.ng-leave
        opacity: 1

    /* The finishing CSS styles for the leave animation */
    &.ng-leave.ng-leave-active
        opacity: 0
