html
    color: $color-5
    font-size: $font-size-base + px
    font-family: $font-regular

h1,
h2
    font-family: $font-title
    color: $color-2

h1
    font-size: px2rem(70)

h2
    font-size: px2rem(50)

h3
    color: $color-2
    font-size: px2rem(30)
    font-weight: bold
    text-transform: uppercase

h4,
h5
    font-size: px2rem(20)

h4
    color: $color-1
    font-weight: bold

h5
    text-transform: uppercase

a,
p,
ul,
li,
span
    font-family: $font-regular
    font-size: px2rem($font-size-base)

a
    display: inline-block
    color: $color-1
    font-style: italic

.text
    &__date,
    &__category
        font-size: px2rem(14)
        font-style: italic

    &__date
        font-weight: bold

    &__email
        font-family: $font-title
        color: $color-1
        font-size: px2rem(25)
        text-decoration: none
