p,
a
    color: $color-1
    font-family: $font-regular
    font-size: $font-size-base
    font-style: normal
    font-variant: normal
    letter-spacing: .0625rem
    line-height: 1.375rem

a
    position: relative
    text-decoration: none
    &::before
        background-color: $color-2
        bottom: -3px
        content: ""
        display: block
        height: 1px
        left: 0
        opacity: 0
        position: absolute
        transition: opacity .2s ease-in-out
        width: 100%
        z-index: -1
    &:hover,
    &:focus,
    &__active
        text-decoration: none
        &::before
            opacity: 1


h1, h2, h3, h4, h5, h6
    color: $color-1
    font-family: $font-title
    font-weight: bold
    letter-spacing: .3125rem
    text-transform: uppercase

h1
    font-size: 3.125rem
    line-height: 3.125rem

h2
    font-size: 2.8125rem
    line-height: 2.8125rem

h3
    font-size: 2.5rem
    line-height: 2.5rem

h4
    font-size: 2.1875rem
    line-height: 2.1875rem

h5
    font-size: 1.875rem
    line-height: 1.875rem

h6
    font-size: 1.5625rem
    line-height: 1.5625rem
