html
    color: $color-5
    font-family: $font-regular
    font-size: $font-size-base + px

h1,
h2
    color: $color-2
    font-family: $font-title

h1,
.component-loader h4,
.component-loader h4 span
    font-size: px2rem(70)
    margin-bottom: 50px

h2
    font-size: px2rem(50)
    margin-bottom: 30px

h3
    color: $color-2
    font-size: px2rem(30)
    font-weight: bold
    text-transform: uppercase

h4,
h5,
.component-more-article--title
    font-size: px2rem(20)

h4,
.component-more-article--title
    color: $color-1
    font-weight: bold
    line-height: px2rem(20)
    margin-bottom: 20px

h5
    text-transform: uppercase

a,
p,
ul,
li,
span
    font-family: $font-regular
    font-size: px2rem($font-size-base)
    line-height: px2rem(22)


p,
ul,
a
    &:not(:last-child)
        margin-bottom: 30px


a
    color: $color-1
    display: inline-block
    font-style: italic

.text
    &__date,
    &__category
        color: $color-5
        font-size: px2rem(14)
        font-style: italic
        line-height: px2rem(17)
        text-decoration: none

    &__testimony
        font-size: px2rem(22)
        text-transform: uppercase

    &__gold
        color: $color-2

    &__date
        font-style: normal
        font-weight: bold

    &__email
        color: $color-1
        font-family: $font-title
        font-size: px2rem(25)
        text-decoration: none


.logo
    color: $color-2
    font-family: $font-title
    font-size: px2rem(30)
    font-style: normal
    font-weight: normal
    text-decoration: none
    span
        color: $color-1
        font-family: $font-title
        font-size: px2rem(30)
