<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5 footer__infos">
        <h4>à propos</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        <a href="#" class="text__email">hello@morgane-guerit.fr</a>
      </div>
      <div class="col-md-5 offset-md-2 footer__blog">
        <h4>Derniers articles</h4>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet</a><p>18 Octobre 2019</p></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a><p>18 Octobre 2019</p></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a><p>18 Octobre 2019</p></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a><p>18 Octobre 2019</p></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 footer__socials">
        <ul>
          <li><a href="#"><%= image_tag 'icons/facebook--white.png', alt: 'Facebook' %></a></li>
          <li><a href="#"><%= image_tag 'icons/instagram--white.png', alt: 'Instagram' %></a></li>
          <li><a href="#"><%= image_tag 'icons/twitter--white.png', alt: 'Twitter' %></a></li>
          <li>
            <p>@2020</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6 footer__creator">
        <p>Créé et développé par <a href="#" target="_blank">Romain Breton</a></p>
      </div>
    </div>
  </div>
</footer>
