<header id="header" class="">
  <div class="container">
    <div class="row">
      <div class="header__logo col-10 col-md-3">
        <a href="#" class="logo">Morgane<span>Guerit</span></a>
      </div>
      <div class="header__button col-2">
        <div class="icon__hamburger js-header-hamburger"><span></span></div>
      </div>
      <nav class="col-12 col-md-9 js-header-nav">
        <ul>
          <li class="js-link active"><a href="#">Services</a></li>
          <li class="js-link"><a href="#">Blog</a></li>
          <li class="js-link"><a href="#">Portfolio</a></li>
          <li class="js-link arrow"><a href="#" class="">Me contacter</a></li>
        </ul>
      </nav>
      <div class="header__backdrop"></div>
    </div>
  </div>
</header>
