<header id="header">
  <div class="container">
    <div class="row">
      <div class="header__logo col-10 col-md-3">
        <a href="#" class="logo">Morgane<span>Guerit</span></a>
      </div>
      <div class="header__button col-2">
        <div class="hamburger js-header-hamburger"><span></span></div>
      </div>
      <nav class="col-12 col-md-9 js-header-nav">
        <ul>
          <li class="js-link active"><a href="#">Services</a></li>
          <li class="js-link"><a href="#">Blog</a></li>
          <li class="js-link"><a href="#">Portfolio</a></li>
          <li class="js-link"><a href="#" class="button button__primary button__borderless button__arrow button__arrow--right">Me contacter</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
