.page-blog
    padding: 100px 0

    &__title
        text-align: center

    &__slider
        &--image
            height: 200px
            margin-bottom: 10px
            overflow: hidden
            position: relative
            width: 100%

            img
                left: 0
                position: absolute
                top: 50%
                transform: translate(0, -50%)
                width: 100%

        &--text
            text-align: left

        h4,
        .text__date,
        ul
            text-align: left

        .text__date
            margin-bottom: 10px

        .component-more-article__content
            padding: 0 10px

        .component-slider__button
            top: 100px

            &--next
                right: 20px

            &--previous
                left: 20px

    &__articles
        >ul
            margin-bottom: 100px
        .component-more-article
            &:not(:last-child)
                margin: 0 0 30px 0

            &__content
                .text__date
                    margin-bottom: 20px

        &--navigation
            align-items: center
            display: flex
            flex-flow: row wrap
            justify-content: center

    &__separator
        margin: 80px 0

    &__breadcrumb
        text-align: center
        li
            &:not(:last-child)
                margin-bottom: 10px

    @include media-breakpoint-up(md)
        &__slider
            &--image
                height: 400px

            .component-slider__button
                top: 200px

            &--text
                justify-content: space-between
                p
                    margin-bottom: 0
                    width: 50%


        &__articles
            .component-more-article
                &__image
                    margin-bottom: 0
                    position: relative
                    a
                        height: 100%
                        left: 0
                        position: absolute
                        top: 0
                        width: 100%
                        img
                            height: 100%
                            object-fit: cover
                            width: 100%
                &__content
                    padding-left: 20px

            &--navigation
                align-items: center
                display: flex
                flex-flow: row wrap
                justify-content: space-between

                a
                    margin-bottom: 0

        &__separator
            hr
                height: 100%
                margin: 0 auto
                width: 1px
