.page_services
    .component_cover,
    .component_confiance
        margin-bottom: 100px

    @include media-breakpoint-down(md)
        .component_service
            padding: 0 0 100px

    @include media-breakpoint-up(md)
        .component_service
            margin-bottom: 100px

        .component_service
            height: 75vh
