.page-services
    .component-cover,
    .component-confiance
        margin-bottom: 100px

    @include media-breakpoint-down(md)
        .component-service
            padding: 0 0 100px

    @include media-breakpoint-up(md)
        .component-service
            margin-bottom: 100px

        .component-service
            height: 75vh
