// Width
$width-xs : 0
$width-sm : 576px
$width-md : 768px
$width-lg : 992px
$width-xl : 1200px
$width-2xl : 1400px
$width-3xl : 1600px

// FONTS
$font-title: "tahuregular", sans-serif
$font-subtitle: "galvjibold", sans-serif
$font-regular: "galvjiregular", sans-serif
$font-size-base: 16

// Grid
$column-width: 100% / $grid-columns

// COLORS
$color-1: #2B4162
$color-2: #B1AD8C
$color-3: #F4FAFF
$color-4: #B1B1B1
$color-5: #FFF
$color-6: #000

$color-dark: 20%
$color-light: 20%
