footer
    align-items: center
    background-color: $color-5
    border-top: 1px solid rgba($color-1, .1)
    bottom: 0
    display: flex
    flex-flow: row wrap
    height: 60px
    justify-content: flex-end
    left: 0
    padding: 5px 20px
    position: fixed 
    width: 100%
    z-index: 3

    p,
    a
        font-size: .8rem
