<div class="soon component-loader active">
  <h1 class="logo">Morgane<span>Guerit</span></h1>
  <p>Site en cours de construction, pour me contacter :</p>
  <a href="#" class="text__email">hello@morgane-guerit.fr</a>
</div>
